<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{layout :: head}">
    <title>Doctores</title>
</head>

<body>
    <nav th:replace="~{layout :: navbar}"></nav>
<div layout:fragment="content">
    
    <main class="container mt-4">
        <h2 class="mb-4 text-center">Nuestros Doctores</h2>

        <div class="row g-4">

            <!-- Medicina General -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://www.shutterstock.com/image-photo/full-body-young-indian-doctor-600nw-2501980069.jpg"
                    class="card-img-top p-4" alt="Medicina General">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Serio Guitierrez</h5>
                        <p class="card-text">Especialista en Medicina General, diagnóstico y seguimiento integral de la salud.</p>
                    </div>
                </div>
            </div>

            <!-- Pediatría -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://img.freepik.com/foto-gratis/covid-19-prevencion-virus-trabajadores-sanitarios-concepto-vacunacion-conmocionado-medico-jadeante-mascara-medica-clavos-reaccionan-al-porcentaje-brote-coronavirus-senalando-dedo-abajo_1258-57499.jpg?semt=ais_hybrid&w=740&q=80"
                    class="card-img-top p-4" alt="Pediatría">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Leonel Casas</h5>
                        <p class="card-text">Atención especializada para niños y adolescentes, con enfoque preventivo y terapéutico.</p>
                    </div>
                </div>
            </div>

            <!-- Ginecología -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://st4.depositphotos.com/39241718/40416/i/450/depositphotos_404167652-stock-photo-young-beautiful-doctor-woman-medical.jpg"
                    class="card-img-top p-4" alt="Ginecología">
                    <div class="card-body">
                        <h5 class="card-title">Dra. Rebeca Sánchez</h5>
                        <p class="card-text">Cuidados de la salud femenina, controles y seguimiento del bienestar reproductivo.</p>
                    </div>
                </div>
            </div>

            <!-- Odontología -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://img.freepik.com/foto-gratis/medico-varon-apuntando-dedo-lado-bata-blanca-guantes-mirando-confiado-vista-frontal_176474-13300.jpg?semt=ais_hybrid&w=740&q=80"
                    class="card-img-top p-4" alt="Odontología">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Piero Salazar</h5>
                        <p class="card-text">Tratamientos dentales y cuidado integral de la salud bucal.</p>
                    </div>
                </div>
            </div>

            <!-- Dermatología -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://img.freepik.com/foto-gratis/sonriente-joven-medico-vistiendo-bata-medica-estetoscopio-alrededor-su-cuello-apuntando-al-lado-aislado-pared-blanca_141793-97537.jpg?semt=ais_hybrid&w=740&q=80"
                    class="card-img-top p-4" alt="Dermatología">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Óscar López</h5>
                        <p class="card-text">Diagnóstico y tratamiento de enfermedades de la piel.</p>
                    </div>
                </div>
            </div>

            <!-- Cardiología -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://img.freepik.com/foto-gratis/vista-frontal-joven-medico-traje-blanco-estetoscopio-azul-sonriendo-posando_140725-29619.jpg?semt=ais_hybrid&w=740&q=80"
                    class="card-img-top p-4" alt="Cardiología">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Fernando Cisneros</h5>
                        <p class="card-text">Especialista en cuidado del corazón y prevención de enfermedades cardiovasculares.</p>
                    </div>
                </div>
            </div>

            <!-- Traumatología -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/026/375/249/small/ai-generative-portrait-of-confident-male-doctor-in-white-coat-and-stethoscope-standing-with-arms-crossed-and-looking-at-camera-photo.jpg"
                    class="card-img-top p-4" alt="Traumatología">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Alonso Vega</h5>
                        <p class="card-text">Atención de lesiones óseas y musculares, tratamientos de rehabilitación y cirugía.</p>
                    </div>
                </div>
            </div>

            <!-- Psicología -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://img.freepik.com/psd-gratis/medico-prepara-examen-medico-rutina_23-2150493265.jpg?semt=ais_hybrid&w=740&q=80"
                    class="card-img-top p-4" alt="Psicología">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Piero Serpa</h5>
                        <p class="card-text">Apoyo emocional, terapias y orientación psicológica profesional.</p>
                    </div>
                </div>
            </div>

            <!-- Nutrición -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://img.freepik.com/foto-gratis/atractivo-nutriologo-masculino-joven-bata-laboratorio-sonriendo-contra-fondo-blanco_662251-2960.jpg?semt=ais_hybrid&w=740&q=80"
                    class="card-img-top p-4" alt="Nutrición">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Paolo Loza</h5>
                        <p class="card-text">Planes alimenticios personalizados y control nutricional para pacientes.</p>
                    </div>
                </div>
            </div>

            <!-- Laboratorio Clínico -->
            <div class="col-md-4">
                <div class="card feature-card">
                    <img src="https://png.pngtree.com/thumb_back/fw800/background/20230423/pngtree-content-medical-practitioner-grinning-and-indicating-himself-in-isolation-delighted-doctor-pointing-at-own-self-photo-image_51677978.jpg"
                    class="card-img-top p-4" alt="Laboratorio Clínico">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Alexander Hidalgo</h5>
                        <p class="card-text">Realiza análisis y pruebas de laboratorio rápidas, confiables y seguras.</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
<br>><br>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>